</center>
<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Легендарные цитаты №1</h5>

        <p>
          — Как живешь?
          — Как картофельная моль: сижу тихо, в глаза не бросаюсь, рубаю картоху.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Легендарные цитаты №2</h5>

        <p>
          — История? Родерик де Новембер? Читал, читал. Когда учился в Оксенфуртской академии, история занимала второе место в списке моих любимых предметов.
          — А первое?
          — География, — серьезно сказал поэт. — Атлас мира был большой, за ним легче всего было скрыть пузырь с водкой.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: darkorange; color: white">
    © 2024 Geeks:
    <a class="text-body" href="https://geeks.kg/">Geeks.kg</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>