<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
</head>
<body>
    <ul class="list-group">
        {% for i in object_list %}
        <li class="list-group-item">
            <h1 class="mb-4">Привет, Читатель - {{ i.username }}</h1>
            <p class="mb-1">Почта: {{ i.email }}</p>
            <p class="mb-1">Имя: {{ i.first_name }}</p>
            <p class="mb-1">Возраст: {{ i.age }}</p>
            {% if i.allowed_genres %}
                <p class="mb-1">Вам можно читать: {{ i.allowed_genres }}</p>
            {% else %}
                <p class="mb-1">Ваши жанры не определены</p>
            {% endif %}
            <p class="mb-1">Ваша любимая книга: {{ i.favourite_book }}</p>
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'users:logout' %}" method="POST" enctype="multipart/form-data">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
